.bread {
    padding: 0 4rem;
    display: flex !important;
    flex-direction: row;
    font-weight: 500;
    min-height: 30px;
}

.bread-crumb {
    font-size: 1rem;
    color: #6a8dda;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    cursor: pointer;
}

.bread-crumb:hover {
    color: orange;
}

.bread-nocrumb {
    font-size: 1rem;
    cursor: default;
    color: #111;
}

.bread-crumb-spacer {
    font-size: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #111;
}

.bread-home {
    font-size: 1.1rem;
    margin: auto 1rem auto 0;
    color: #ccc;
    top: 0 !important;
}

.bread-home-hot {
    color: rgb(106, 141, 218);
    cursor: pointer;
}

.bread-home-hot:hover {
    color: orange;
}

.bread-fav {
    font-size: 1.1rem;
    margin: auto 0 auto 2rem;
    color: #000;
    top: 0 !important;
}

.bread-fav-hot {
    color: rgb(106, 141, 218);
    cursor: pointer;
}

.bread-fav-hot:hover {
    color: orange;
}

.bread-login {
    font-size: 1rem;
    margin: auto 1rem auto auto;
    color: #111;
}

.bread-org {
    font-size: 0.9rem;
    margin: auto 1rem auto -0.7rem;
    color: #111;
}

.bread-hlp {
    font-size: 1.5rem;
    margin: auto 0;
    color: #ccc;
    top: 0 !important;
}

.bread-hlp-hot {
    color: rgb(106, 141, 218);
    cursor: pointer;
}

.bread-fav-hlp:hover {
    color: orange;
}